<div class="col s12 m7 builder">
    <div class="row center-align">
        <div class="col s9 offset-s1 build-box">
          <p>Click items in your closet to create an outfit here!</p>
          <div id="shirt-target" class="canvas img">
          </div>
          <div id="pants-target" class="canvas img">
          </div>
          <div id="shoes-target" class="canvas img">
          </div>
        </div>
    </div>
</div>
