<div class="row">
  <div class="col s9 offset-s1 build-box center-align">
    <div id="board-advice" class="advice">
      Click items in your closet to create an outfit here!
    </div>
    <div id="shirt-target" class="create-board">
    </div>
    <div id="pants-target" class="create-board">
    </div>
    <div id="shoes-target" class="create-board">
    </div>
  </div>
</div>
