<%= render "shared/header" %>
<!-- main container -->
<div class="container">
  <div class="row main">
    <div class="col s12 m12 sidebar">
      <h1 class="center-align">Closet</h1>
      <p class="advice center-align">Add individual items to your closet. You'll use items when putting new outfits together</p>
      <div class="center-align">
      <a href="/items/new" class="btn-floating fab btn-xs waves-effect waves-light right-align blue"><i class="material-icons">add</i></a>
      </div>
      <%= render "shared/closet" %>
      </div>

  </div>
</div>
